{{ define "main" }}
<style>
.banner-text blockquote {color: black !important;}
.zhoverem:hover{color:white;background-color: #ea4335;}
/* Slider */ 
.slick-slide {
  margin: 0px 10px;
} 
.slick-slide img {
 /* width: 100%; */
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="main.js"></script>
<script>$(document).ready(function () {
    $(".customer-logos").slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 1500,
      arrows: false,
      dots: false,
      pauseOnHover: true,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2
          }
        },
        {
          breakpoint: 520,
          settings: {
            slidesToShow: 1
          }
        }
      ]
    });
  });
  
  
  
  </script>

<main aria-role="main">
    <div class="container">
        <div id="index-banner">
            <div class="container">
                {{ with .Site.GetPage "/index/index"}}
                <div class="row">
                  <div class="col col-xl-8 col-lg-6 col-md-12">
                        <div class="banner-text"style="margin-top: 100px;margin-left: 100px;">                             
                                {{ range .Params.Subtitle }}
                                <h1 style="color: black">{{ . }}</h1>
                                {{ end }}
                            
                        </div>
                    </div>                 
                    <div class="col col-xl-4 col-lg-6 col-md-12" style="display: none;">
                        <div class="news-header">
                            <h5>{{ .Params.News }}</h5>
                        </div>
                        {{ end }}
                        <div class="news-body px-4">
                            {{ $news := .Site.GetPage "/news"}}
                            {{ range $news.Pages }}
                            <blockquote class="mt-4">
                            <p>
                                <a href="{{.Permalink}}">{{ .Params.Title}}</a>
                            <p>
                            </blockquote>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ $sections := .Site.GetPage "/index"}}
        {{ range $index, $element := sort ($sections.Resources.Match "section*.md") ".Name"}}

        {{ if (eq $index 0) }}
        <div class="container pt-4 pb-3"style="margin-top:60px;">
            <h1 style="text-align: center;color: #ea4335;font-weight: bold;" class="section-header">{{ .Title }}</h1>
        </div>
<!--circle-->
        <div class="container"style="margin-bottom:100px;">
            <div class="row">
              <div class="col-md-4" style="text-align: center;">
                <div class="row"style="margin-top: 100px;">
                  <div class="col-md-12">
                    <!-- First column, first row -->
                    <h2>{{ .Params.Step1 }}</h2> 
                   <a href="#"> <h2 style="padding: 10px;" class="section-header zhoverem" style="color:#ea4335;">{{ .Params.Step1a }}</h2></a>
    
                  </div>
                </div>
                <div class="row"style="margin-top: 100px;">
                    <div class="col-md-12">
                      <!-- First column, first row -->
                      <h2>{{ .Params.Step2 }}</h2> 
                     <a href="#"> <h2 style="padding: 10px;" class="section-header zhoverem" style="color:#ea4335;">{{ .Params.Step2a }}</h2></a>
      
                    </div>
                  </div>
              </div>
              
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12 d-sm-none d-md-block">
                    <!-- Second column, single row -->
                   <img style= "max-width: 432px;"src="/img/circle.jpg">
                  </div>
                </div>
              </div>
              
              <div class="col-md-4" style="text-align: center;">
                <div class="row"style="margin-top: 100px;">
                    <div class="col-md-12">
                      <!-- First column, first row -->
                      <h2>{{ .Params.Step3 }}</h2> 
                     <a href="#"> <h2 style="padding: 10px;" class="section-header zhoverem" style="color:#ea4335;">{{ .Params.Step3a }}</h2></a>
      
                    </div>
                  </div>
                  <div class="row"style="margin-top: 100px;">
                    <div class="col-md-12">
                      <!-- First column, first row -->
                      <h2>{{ .Params.Step4 }}</h2> 
                     <a href="#"> <h2 style="padding: 10px;" class="section-header zhoverem" style="color:#ea4335;">{{ .Params.Step4a }}</h2></a>
      
                    </div>
                  </div>
              </div>
            </div>
          </div>







        <!-- po circlu
        <div class="container-fluid bg-gray">
            <div class="container py-4 text-white">
                <p>
                    <img class="float-start pt-4 pe-4" src="{{ .Params.Icon }}">
                    {{ .Content }}
                </p>
            </div>
        </div>
    -->
        {{ end }}

        {{ if (eq $index 1) }}
        <div style="display: none;">
        <div class="container pt-4">
            <h2 class="section-header">{{ .Title }}</h2>
        </div>
        <div class="container-fluid">
            <div class="container pt-2 pb-4">
                <div class="row">
                    {{ .Content }}
                </div>
            </div>
        </div>
        </div>
        {{ end }}

        {{ if (eq $index 2) }}
        <!-- partnerzy/karuzela -->
        <div class="container pt-4">
        </div>
        <div class="container-fluid">
            <div class="container py-4">


                
                <h2 style="color: #ea4335; text-align: center;">{{ .Title }}</h2>
                <section class="customer-logos slider text-center">
                    {{ range .Params.Partners }}
                   <div class="slide">
                     <img class="center-block" decoding="async" src="{{ .logo }}">
                     {{ .text }}
                   </div>
                   {{ end }}
                </section>







                
                <div class="row"style="display:none;">
                    {{ range .Params.Partners }}
                    <div class="col-md-4 text-center">
                        <img class="mx-auto d-block py-4" src="{{ .logo }}">
                        {{ .text }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}



        {{ if (eq $index 3) }}
        {{ $blog := .Site.GetPage "/blog"}}
                            
        <div class="container py-3">
            <div class="row">
                <div class="col-12">
                    <h2 style="color: #ea4335; text-align: center;">{{ .Title }}</h2>
                    <div class="row row-md-cols-2">          
                    {{ range first 4 $blog.Pages }}
                    <div class="col-md-3 col-xs-12 py-3" style="max-height: 550px;">
            <div class="card h-100">
                <div class="card-wrap">
                    <a href="{{ .Permalink }}"> <img src="{{ .Params.image }}" class="card-img-top img-fluid" alt="{{ .Title }}" style="height: 200px"> </a>
                        </div>
                <div class="card-body blog-card--body">
                    <h5 class="card-title blog-card--title">{{ .Title }}</h5>
                    <p class="card-text blog-card--date">{{ .Date.Format  "02.01.2006"}}</p>
                    <p class="card-text blog-card--summary" style="max-height: 150px; overflow: scroll;">{{ .Summary }}</p>
                    <a href="{{ .Permalink }}" class="btn btn-primary text-white">{{i18n "more"}}</a>
                </div>
              </div>
            </div>
        {{ end }}
        {{ end }}

        {{ if (eq $index 4) }}
        <div class="container pt-4" style="display: none;">
            <h2 class="section-header">{{ .Title }}</h2>
        </div>
        <div class="container-fluid"style="display: none;">
            <div class="container py-4">
                <div class="row">
                    {{ .Content }}
                </div>
            </div>
        </div>
        {{ end }}

        {{ end }}
        {{ .Content }}
    </div>
</main>
{{ end }}